body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

h1 {
  font-family: "Commissioner", sans-serif;
  font-weight: 600;
  font-size: 48px;
}

h2 {
  font-family: "Commissioner", sans-serif;
  font-weight: 600;
  font-size: 36px;
}

body,
h1,
h2 {
  line-height: 1.5;
  color: #000;
}

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
  display: flex;
  max-width: 1440px;
  width: 100%;
}

nav {
  padding: 1em;
  display: flex;
  gap: 1em;
  align-items: center;
  width: 100%;
  flex-direction: row;
}

.nav_item {
  padding: 0.8em;
  flex-grow: 1;
}

.contacts {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.header_link {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.adress {
  display: flex;
}

.cover {
  display: flex;
  margin-top: 160px;
}

.cover_wrapper {
  display: flex;
  flex-direction: row;
}

.cover_titles {
  margin: 30px;
  padding: 30px;
}

h1 {
  color: #eb410c;
  margin-top: 30px;
  margin-bottom: 60px;
}

h2 {
  color: #eb410c;
  margin-bottom: 40px;
}

.main-picture {
  margin-top: 30px;
}

.about {
  display: grid;
  row-gap: 60px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 130px;
}

.about_wrapper {
  display: grid;
  margin-top: 30px;
}

.about_circle {
  position: absolute;
  bottom: 60px;
}

.about_rectangle {
  position: relative;
  left: 80px;
  bottom: 30px;
}

.about_text {
  position: relative;
  bottom: 370px;
  left: 120px;
  font-size: 22px;
}

.about_image {
  border-radius: 30px;
  position: relative;
  bottom: 30px;
  right: 10px;
}

.about_image__border {
  position: absolute;
}

.about_for_image {
  display: flex;
}

.about_image-2 {
  border-radius: 30px;
  position: relative;
  bottom: 50px;
  left: 30px;
}

.about_image__border-2 {
  position: absolute;
}

.about_circle-2 {
  position: absolute;
  top: 1550px;
  right: 780px;
}

.about_rectangle-2 {
  position: relative;
  left: 100px;
  bottom: 0px;
}

.about_text-2 {
  position: relative;
  bottom: 170px;
  left: 100px;
  text-align: center;
  font-size: 22px;
}

.services {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.services_title {
  text-align: center;
}

.services_subtitle {
  text-align: center;
}

.services_wrapper_kinder {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 70px;
}

.services_wrapper_kinder-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
}

.services_image__1 {
  border-radius: 30px;
  border: 5px solid #fae01a;
}

.services_wrapper_kinder-1__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.services_wrapper_kinder-1__button {
  background-color: #1adffa;
  padding: 20px;
  border-radius: 30px;
  border: none;
  font-size: 22px;
  font-weight: 600;
  width: fit-content;
  align-self: center;
}

.services_wrapper_kinder-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.services_wrapper_kinder-2__card {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.services_image__2 {
  border-radius: 30px;
  border: 5px solid #fae01a;
}

.services_wrapper_kinder-2__button {
  background-color: #1adffa;
  padding: 20px;
  border-radius: 30px;
  border: none;
  font-size: 22px;
  font-weight: 600;
  width: fit-content;
  align-self: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=index.css.map */
