.about {
  display: grid;
  row-gap: 60px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 130px;
}

.about_wrapper {
  display: grid;
  margin-top: 30px;
}
.about_circle {
  position: absolute;
  bottom: 60px;
}
.about_rectangle {
  position: relative;
  left: 80px;
  bottom: 30px;
}

.about_text {
  position: relative;
  bottom: 370px;
  left: 120px;
  font-size: $font-size-primary-norm;
}

.about_image {
  border-radius: 30px;
  position: relative;
  bottom: 30px;
  right: 10px;
}
.about_image__border {
  position: absolute;
}

.about_for_image {
  display: flex;
}

.about_image-2 {
  border-radius: 30px;
  position: relative;
  bottom: 50px;
  left: 30px;
}

.about_image__border-2 {
  position: absolute;
}
.about_circle-2 {
  position: absolute;
  top: 1550px;
  right: 780px;
}
.about_rectangle-2 {
  position: relative;
  left: 100px;
  bottom: 0px;
}
.about_text-2 {
  position: relative;
  bottom: 170px;
  left: 100px;
  text-align: center;
  font-size: $font-size-primary-norm;
}
